.nav {
  width: 100%;
  height: 70px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
   position: fixed;         
  top: 0;                 
  left: 0;
  z-index: 9999;          
  backdrop-filter: blur(8px); 
}

.nav .nav-logo {
  margin-left: 20px;
  font-weight: bold;
  color: whitesmoke;
}

.nav .nav-search input {
  width: 300px;
  height: 30px;
  border-radius: 2px;
  border: none;
  padding-left: 10px;
}

.nav .nav-search button {
  width: 50px;
  height: 30px;
  border-radius: 2px;
  border: none;
  background-color: #4d4b4b68;
  color: rgb(209, 207, 207);
  cursor: pointer;
}

.nav .nav-search button:hover {
  background-color: #4d4b4b;
  color: rgb(33, 31, 31);
}

.nav .nav-list ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 40px;
}

.nav .nav-list ul li a {
  color: rgb(248, 239, 239);
  cursor: pointer;
  text-decoration: none;
}

.nav .nav-list ul li:hover {
  color: #4d4b4b;
}

.nav .nav-list ul li button {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px 0;
}

.nav .nav-list ul li .login {
  background-color: #646060;
  color: rgb(11, 11, 11);
}

.nav .nav-list ul li .register {
  background-color: #e63adb68;
  color: rgb(224, 210, 210);
}

.nav .nav-list ul li button:hover {
  background-color: #4d4b4b;
  color: white;
}

.hamburgerMenu {
  position: relative;
  top: 10px;
  right: 0;
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: black;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .nav {
    flex-wrap: wrap;
    height: auto;
    padding-bottom: 10px;
  }

  .nav-search {
    width: 100%;
    margin: 10px 0;
    
    display: none;
    justify-content: center;
  }

  .nav-buttons {
    display: none; /* Hide original button group on small screens */
  }

  .nav-list {
    width: 100%;
    display: none;
    justify-content: center;
    transition: all 0.3s ease;
  }

  .nav-list.open {
    display: flex;
  }

  .nav-list ul {
    flex-direction: column;
    gap: 10px;
    padding: 0;
    align-items: center;
  }

  .hamburgerMenu {
    display: block;
    position: absolute;
    top: 5px;
    right: 20px;
  }
}
