
.main-women-container{
    /* min-height: 90vh; */
    width: 100vw;
     display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.hero-section{
   min-height: 65vh;
    width: 100%;
    background-color: rgba(154, 117, 117, 0.407);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
     margin-top: 8vh;
 }


.wearable-stock-heading{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 700;
      margin:20px auto;
      font-size: 2rem;
    }
.wearable-stock{
    min-height: 120px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
  
}

.link-style{
    text-decoration: none;
}
 .available-stocks{
    min-height: 300px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

 .girl1{
    height: 400px;
    width: 450px;
    object-fit:contain;
 }
 .girl2{
    height: 400px;
    width: 380px;
    object-fit:cover;
 }
 .offer{
     height: 200px;
     width: 250px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 5px;
 }
 .offer-content{
    font-size: 1.5rem;
    text-transform: capitalize;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.off{
    font-size: 3rem;
}
.offer-btn{
    padding: 10px 1rem;
    background-color: rgba(98, 78, 78, 0.738);
    border: none;
    border-radius: 1rem;
    color: rgb(225, 216, 216);
    cursor: pointer;
}
.offer-btn:hover{
    background-color: rgba(81, 64, 64, 0.738);
}
 
 .stock{
    min-height:100vh ;
    width: 80%;
    display: flex;
     flex-wrap: wrap;
     justify-content: center;
    gap: 50px;
   
    
 }
.women-product-Collection{
       min-height: 120px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
}
